{% extends 'elefante/layout.html' %}
{% load static%}
{% block content%}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <title>CARRUSEL</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- Compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Minified JS library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Compiled and minified Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'styles/estilos.css' %}">

    <style>
        .main {
            background: white;
            width: 50%;
            margin: 5% auto;
            border-radius: 2px;
            padding-bottom: 20px;
        }

        a {
            font-size: .93rem;
            text-decoration: none;
            color: black;
        }
    </style>

</head>

<body>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <td data-title="imagen"> <img src="{% static 'img/nbhd.jpg' %}" width="10000px" height="10000px" " alt="">
                
            </div>
            <div class=" item">
                <td data-title="imagen"> <img src="{% static 'img/lisa.jpg' %}" width="10000px" height="10000px" alt="">

            </div>
            <div class="item">
                <td data-title="imagen"> <img src="{% static 'img/doors.jpg' %}" width="10000px" height="10000px"
                        alt="">

            </div>
            <div class="item">
                <td data-title="imagen"> <img src="{% static 'img/lo.jpg' %}" width="10000px" height="10000px" alt="">

            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <script type="text/javascript">
        // Call carousel manually
        $('#myCarouselCustom').carousel();

        // Go to the previous item
        $("#prevBtn").click(function () {
            $("#myCarouselCustom").carousel("prev");
        });
        // Go to the previous item
        $("#nextBtn").click(function () {
            $("#myCarouselCustom").carousel("next");
        });
    </script>

</body>
{% endblock %}
</html>
