{% extends 'elefante/layout.html' %}
{% load humanize %} 
{% block content %}
{% load static %}

{% if request.user.is_authenticated %}


<article>
    <div class="container-article">
        <img src="{% static 'img/lisa.jpg' %}">
        <div>
           <h2> <a class="new" href="{% url 'perfil' %}">Andrea</a></h2> 
           <i class="clock"></i>
            <time data-time="#">Prueba</time>
            <div class="post"> <3</div>
        </div>
    </div>
</article>

{% endif %}



{% endblock %}